[project]
	description = PG-Strom - Master development repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Taiki Kondo (taiki-k)
[access "refs/for/refs/*"]
	read = group user/Taiki Kondo (taiki-k)
	push = group user/Taiki Kondo (taiki-k)
	label-Code-Review = -2..+2 group user/Taiki Kondo (taiki-k)
	label-Verified = -1..+1 group user/Taiki Kondo (taiki-k)
	rebase = group user/Taiki Kondo (taiki-k)
	removeReviewer = group user/Taiki Kondo (taiki-k)
	submit = group user/Taiki Kondo (taiki-k)
[access "refs/heads/*"]
	read = group user/Taiki Kondo (taiki-k)
	create = group user/Taiki Kondo (taiki-k)
	push = +force group user/Taiki Kondo (taiki-k)
	pushMerge = group user/Taiki Kondo (taiki-k)
[access "refs/tags/*"]
	push = +force group user/Taiki Kondo (taiki-k)
	pushTag = group user/Taiki Kondo (taiki-k)
	pushSignedTag = group user/Taiki Kondo (taiki-k)
